.footer {
  align-items: center;
  background: linear-gradient(320deg, rgba(40, 44, 52, 0.5), rgba(0,0,0,0.5)), linear-gradient(120deg, rgba(40, 44, 52, 0.5), rgba(0,0,0,0.5));
  color: #b4b8c0;
  display: flex;
  font: inherit;
  height: 10rem;
  justify-content: space-evenly;
  flex-direction: column;
  left: 0;
  margin: 0;
  padding: .5rem 5rem .5rem 5rem;
  position: relative;
  top: 0;
  //box-shadow: 0 0 .75rem rgba(40, 44, 52, 0.25), 0 0 5rem 5rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.3), 0 0 5rem 5rem rgba(0, 0, 0, 0.25);
}
